{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<h3 class="title">{% trans "Sign In" %}</h3>
<div class="container-fluid">
  <div class="row auth-row">
    <div class="col-md-8 col-sm-12 col-lg-6 m-md-2 m-sm-1 m-lg-3">

      {% get_providers as socialaccount_providers %}
      <p>{% blocktrans %}
        To make a reservation, you must authenticate yourself.<br>
        If you have not created an account yet, then please
        <a href="{{ signup_url }}" class="auth-redirect">Register</a> first.{% endblocktrans %}</p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button type="submit" class="btn btn-success">{% trans "Log In" %}</button>
        <button type="button" class="btn btn-secondary" onclick="history.go(-1)">{% trans 'Go Back' %}</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}