{% extends 'base.html' %}
{% block content %}
<h3 class="title"> You have decided to cancel this reservation. Please read carefully the details of your reservation
    before taking a decisive action on it. </h3>
<div class="row btn-row">
    <div class="col-md-3 back-btn">
        <button type="button" class="btn btn-secondary" onclick="history.go(-1)">Take me back</button>
    </div>
    <div class="col-md-3 edit-btn">
        <a href="{% url 'edit_reservation' booking_id=booking.id %}" class="action-btn change-details" id="del-edit-btn">Change details</a>
    </div>
</div>
<div class="row" id="del-reservation-row">
    <div class="col-md-6 col-lg-4 col-sm-10 col-xs-12">
        <!-- https://getbootstrap.com/docs/4.0/content/tables/ -->
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">Booking Name: </th>
                    <td>{{ booking.booking_full_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Booking email: </th>
                    <td>{{ booking.booking_email }}</td>
                </tr>
                <tr>
                    <th scope="row">Booking phone number: </th>
                    <td>{{ booking.booking_phone_number }}</td>
                </tr>
                <tr>
                    <th scope="row">Number of guests: </th>
                    <td>{{ booking.number_of_guests }}</td>
                </tr>
                <tr>
                    <th scope="row">Booking date and time: </th>
                    <td>{{ booking.booking_date }} {{ booking.time }} </td>
                </tr>
                <tr>
                    <th scope="row">Aditional Information: </th>
                    <td>{{ booking.comment }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row btn-row" id="delete-btn-row">
    <div class="col-md-2">
        <form method="Post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Cancel Reservation">
        </form>
    </div>
</div>
{% endblock %}