{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-12">
        <h1>Welcome to Dorsia</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Information about the Dorsia Restaurant</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-secondary">Menu</button>
        <button type="button" class="btn btn-success">Make a Reservation</button>
    </div>
</div>
{% endblock content %}
