{% extends 'base.html' %}
{% block content %}
<div class="row" id="landing-div">
    <div class="col-md-8 col-sm-12">
        <h1>Dorsia</h1>
    </div>
</div>
<div class="row" id="btn-container">
    <div class="col-md-4">
        <a href="{% url 'menu' %}"><button type="button" class="btn" id="menu-btn">Menu</button></a>
        <a href="{% url 'reservation' %}"><button type="button" class="btn" id="make-a-reservation-btn">Make a Reservation</button></a>
    </div>
</div>
<div class="row" id="about-us">
    <div class="col-md-8 col-sm-12">
        <div class="row">
            <div class="col" id="about-us-header">
                <h2>Welcome to Dorsia. Here, you will experience the embodiment of fine dining in the heart of New
                    York City.
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 icon-container-left"><i class="fa-solid fa-utensils"></i></div>
            <div class="col-8">
                <p> Our classy ambiance is adorned with marble floors and golden accents, creating a truly luxurious
                    dining experience.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <p>Our menu features first-class ingredients, expertly crafted by our world-renowned chefs, and is
                    sure to tantalize your taste buds.</p>
            </div>
            <div class="col-4 icon-container-right"><i class="fa-solid fa-clipboard-list"></i></div>
        </div>
        <div class="row">
            <div class="col-4 icon-container-left"><i class="fa-solid fa-wine-glass"></i></div>
            <div class="col-8">
                <p> Our extensive wine list boasts some of the rarest and most sought-after bottles, perfectly paired to
                    complement your meal.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p>Our staff is attentive to provide impeccable service and ensure your every desire is fulfilled with
                    the utmost care.</p>
            </div>
            <div class="col-4 icon-container-right"><i class="fa-solid fa-people-group"></i></div>
        </div>

    </div>
    {% endblock content %}