{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-12" id="landing-div">
        <h1>Dorsia</h1>
    </div>
</div>
<div class="row" id="btn-container">
    <div class="col-md-4">
        <button type="button" class="btn" id="menu-btn">Menu</button>
        <button type="button" class="btn" id="make-a-reservation-btn">Make a Reservation</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Welcome to Dorsia, a restaurant like no other. Here, you will experience the epitome of fine dining in the
            heart of New York City. Our elegant atmosphere is adorned with marble floors and golden accents, creating a
            truly luxurious dining experience. Our menu features the finest ingredients, expertly crafted by our
            world-renowned chefs, and is sure to tantalize your taste buds. Our extensive wine list boasts some of the
            rarest and most sought-after bottles, perfectly paired to complement your meal. Our attentive staff is
            dedicated to providing impeccable service, ensuring your every need is met with the utmost care. Come dine
            with us and experience the height of sophistication and luxury that Dorsia has to offer.</h2>
    </div>
</div>
{% endblock content %}