{% extends 'base.html' %}
{% block content %}
<!-- https://getbootstrap.com/docs/5.3/components/accordion/#how-it-works -->
<h2> You are now managing the bookings made by the user: {{ username }} </h2>

<div class="accordion accordion-flush" id="accordionFlushExample">
    {% for booking in bookings %}
    <div class="accordion-item">
        <h3 class="accordion-header" id="flush-heading-{{ booking.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse-{{ booking.id }}" aria-expanded="false"
                aria-controls="flush-collapse-{{ booking.id }}">
                {{ booking.booking_full_name }}: {{booking.booking_date}} {{booking.time}} -
                {{ booking.number_of_guests }} guests
            </button>
        </h3>
        <div id="flush-collapse-{{ booking.id }}" class="accordion-collapse collapse"
            aria-labelledby="flush-heading-{{ booking.id }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <!-- https://getbootstrap.com/docs/4.0/content/tables/ -->
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Booking Name: </th>
                            <td>{{ booking.booking_full_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Booking email: </th>
                            <td>{{ booking.booking_email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Booking phone number: </th>
                            <td>{{ booking.booking_phone_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of guests: </th>
                            <td>{{ booking.number_of_guests }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Booking date and time: </th>
                            <td>{{ booking.booking_date }} {{ booking.time }} </td>
                        </tr>
                        <tr>
                            <th scope="row">Comments: </th>
                            <td>{{ booking.comment }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="{% url 'edit_reservation' booking_id=booking.id %}">
                <button type="button" class="btn btn-warning">Edit</button>
            </a>
            <button type="button" class="btn btn-danger" id="delete-btn">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">You are about to DELETE one of your reservations!
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the reservation?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="exampleModalCenter">I
                    don't want to delete my reservation</button>
                <a href="{% url 'delete_reservation' booking_id=booking.id %}">
                    <button type="button" class="btn btn-danger" data-target="exampleModalCenter">Delete
                        reservation</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/delete_reservation.js"></script>
{% endblock content %}