{% extends 'base.html' %}
{% block content %}
<!-- The accordion items' code was taken from Bootstrap -->
<!-- https://getbootstrap.com/docs/5.3/components/accordion/#how-it-works -->
<h2 class="title">Our Menu</h2>
<div class="row menu-row">
    <div class="col-md-10 col-lg-8 col-xl-6 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Appetizers</h3>
                {% for meal in meals %}
                {% if meal.meal_type == 0 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ meal.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ meal.id }}" aria-expanded="false"
                            aria-controls="flush-collapse-{{ meal.id }}">{{ meal.meal_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ meal.id }}" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ meal.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ meal.meal_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Salads</h3>
                {% for meal in meals %}
                {% if meal.meal_type == 1 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ meal.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ meal.id }}" aria-expanded="false"
                            aria-controls="flush-collapse-{{ meal.id }}">{{ meal.meal_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ meal.id }}" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ meal.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ meal.meal_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Main Courses</h3>
                {% for meal in meals %}
                {% if meal.meal_type == 2 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ meal.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ meal.id }}" aria-expanded="false"
                            aria-controls="flush-collapse-{{ meal.id }}">{{ meal.meal_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ meal.id }}" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ meal.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ meal.meal_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Side Dishes</h3>
                {% for meal in meals %}
                {% if meal.meal_type == 3 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ meal.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ meal.id }}" aria-expanded="false"
                            aria-controls="flush-collapse-{{ meal.id }}">{{ meal.meal_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ meal.id }}" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ meal.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ meal.meal_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Desserts</h3>
                {% for meal in meals %}
                {% if meal.meal_type == 4 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ meal.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ meal.id }}" aria-expanded="false"
                            aria-controls="flush-collapse-{{ meal.id }}">{{ meal.meal_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ meal.id }}" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ meal.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ meal.meal_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Drinks -->
<h2 class="title">Drinks Menu</h2>
<div class="row  menu-row">
    <div class="col-md-10 col-lg-8 col-xl-6 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Wine</h3>
                {% for drink in drinks %}
                {% if drink.drink_type == 0 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ drink.id }}-drink">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ drink.id }}-drink"
                            aria-expanded="false">{{ drink.drink_name }}
                        </button>
                    </h4>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Classic Cocktails</h3>
                {% for drink in drinks %}
                {% if drink.drink_type == 1 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ drink.id }}-drink">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ drink.id }}-drink" aria-expanded="false"
                            aria-controls="flush-collapse-{{ drink.id }}-drink">{{ drink.drink_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ drink.id }}-drink" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ drink.id }}-drink" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ drink.drink_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Specialty Cocktails</h3>
                {% for drink in drinks %}
                {% if drink.drink_type == 2 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ drink.id }}-drink">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ drink.id }}-drink" aria-expanded="false"
                            aria-controls="flush-collapse-{{ drink.id }}-drink">{{ drink.drink_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ drink.id }}-drink" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ drink.id }}-drink" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body accordion-body-menu">{{ drink.drink_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Aperitif</h3>
                {% for drink in drinks %}
                {% if drink.drink_type == 3 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ drink.id }}-drink">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ drink.id }}-drink" aria-expanded="false"
                            aria-controls="flush-collapse-{{ drink.id }}-drink">{{ drink.drink_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ drink.id }}-drink" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ drink.id }}-drink" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ drink.drink_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Digestif</h3>
                {% for drink in drinks %}
                {% if drink.drink_type == 4 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ drink.id }}-drink">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ drink.id }}-drink" aria-expanded="false"
                            aria-controls="flush-collapse-{{ drink.id }}-drink">{{ drink.drink_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ drink.id }}-drink" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ drink.id }}-drink" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ drink.drink_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Sparkling Wine</h3>
                {% for drink in drinks %}
                {% if drink.drink_type == 5 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ drink.id }}-drink">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ drink.id }}-drink" aria-expanded="false"
                            aria-controls="flush-collapse-{{ drink.id }}-drink">{{ drink.drink_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ drink.id }}-drink" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ drink.id }}-drink" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ drink.drink_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 menu-category">
                <h3>Beer</h3>
                {% for drink in drinks %}
                {% if drink.drink_type == 6 %}
                <div class="accordion-item">
                    <h4 class="accordion-header" id="flush-heading-{{ drink.id }}-drink">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-{{ drink.id }}-drink" aria-expanded="false"
                            aria-controls="flush-collapse-{{ drink.id }}-drink">{{ drink.drink_name }}
                        </button>
                    </h4>
                    <div id="flush-collapse-{{ drink.id }}-drink" class="accordion-collapse collapse menu-description"
                        aria-labelledby="flush-heading-{{ drink.id }}-drink" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {{ drink.drink_description }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<a href="{% url 'reservation' %}" class="btn btn-dark" id="menu-make-res-btn">Make A Reservation</a>

{% endblock %}