{% extends 'base.html' %}
{% block content %}
<h2>Menu</h2>


<h3>Appetizers</h3>
{% for meal in meals %}
{% if meal.meal_type == 0 %}
    <tr>
        <td>{{ meal.meal_name }}</td>
        <br>
        <td>{{ meal.meal_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Salads</h3>
{% for meal in meals %}
{% if meal.meal_type == 0 %}
    <tr>
        <td>{{ meal.meal_name }}</td>
        <br>
        <td>{{ meal.meal_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Main Courses</h3>
{% for meal in meals %}
{% if meal.meal_type == 0 %}
    <tr>
        <td>{{ meal.meal_name }}</td>
        <br>
        <td>{{ meal.meal_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Side Dishes</h3>
{% for meal in meals %}
{% if meal.meal_type == 0 %}
    <tr>
        <td>{{ meal.meal_name }}</td>
        <br>
        <td>{{ meal.meal_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Desserts</h3>
{% for meal in meals %}
{% if meal.meal_type == 0 %}
    <tr>
        <td>{{ meal.meal_name }}</td>
        <br>
        <td>{{ meal.meal_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}

<h2>Drinks Menu</h2>

<h3>Wines</h3>
{% for drink in drinks %}
{% if drink.drink_type == 0 %}
    <tr>
        <td>{{ drink.drink_name }}</td>
        <br>
        <td>{{ drink.drink_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Classic Cocktails</h3>
{% for drink in drinks %}
{% if drink.drink_type == 1 %}
    <tr>
        <td>{{ drink.drink_name }}</td>
        <br>
        <td>{{ drink.drink_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Specialty Cocktails</h3>
{% for drink in drinks %}
{% if drink.drink_type == 2 %}
    <tr>
        <td>{{ drink.drink_name }}</td>
        <br>
        <td>{{ drink.drink_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Aperitif</h3>
{% for drink in drinks %}
{% if drink.drink_type == 3 %}
    <tr>
        <td>{{ drink.drink_name }}</td>
        <br>
        <td>{{ drink.drink_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Digestif</h3>
{% for drink in drinks %}
{% if drink.drink_type == 4 %}
    <tr>
        <td>{{ drink.drink_name }}</td>
        <br>
        <td>{{ drink.drink_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Sparkling Wine</h3>
{% for drink in drinks %}
{% if drink.drink_type == 5 %}
    <tr>
        <td>{{ drink.drink_name }}</td>
        <br>
        <td>{{ drink.drink_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}
<h3>Beer</h3>
{% for drink in drinks %}
{% if drink.drink_type == 6 %}
    <tr>
        <td>{{ drink.drink_name }}</td>
        <br>
        <td>{{ drink.drink_description }}</td>
        <br>
    </tr>
{% endif %}
{% endfor %}

{% endblock content %}